<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Ticker - Stay Organized</title>
    <!-- Link to your existing CSS file -->
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <section class="container">
    <% if (locals.messages?.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>


      <h1>Welcome to Todo Ticker</h1>
      <p>
        Todo Ticker is your ultimate task management companion. Stay organized,
        boost productivity, and never miss a beat with our intuitive and
        feature-rich todo app.
      </p>

      <ul class="features">
        <li>Create and manage your todo list with ease</li>
        <li>Set priorities for important tasks</li>
        <li>Randomly pick a task when you're feeling indecisive</li>
        <li>Edit task names on the fly</li>
        <li>Remove completed tasks from your list</li>
        <li>Track your progress and celebrate your achievements</li>
      </ul>

      <p>
        Ready to take control of your tasks? Sign up or log in to get started!
      </p>

      <form action="/auth/signup" method="post" class="authForm">
        <input id="username" type="text" name="username" autocomplete="username" placeholder="Username" required autofocus />
        <input id="password" type="password" name="password" autocomplete="password" placeholder="Password" required />
        <section>
          <button>Sign Up</button>
          <button formaction="/auth/login" method="post">Log In</button>
        </section>
    </form>
  </body>
</html>
